:root {
	--primary-color: #e67e22;
	--primary-color-alpha: #e67d220e;
	--primary-color-alpha-2: #e67d221a;
	--primary-color-dark: #d35400;
	--primary-color-darker: #c0392b;
	--secondary-color: #f1c40f;
	--secondary-color-alpha: #f1c40f0e;
	--secondary-color-dark: #f39c12;
	--secondary-color-darker: #f39c12;
	--header-font-size: 1rem;
	--primary-color-filter: brightness(0) saturate(100%) invert(65%) sepia(42%) saturate(4622%) hue-rotate(350deg) brightness(96%) contrast(87%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes slide-in {
	from {
		transform: translateX(-4rem);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-4rem);
	}
}

#card {
	view-transition-name: card;
}

::view-transition-old(card),
::view-transition-new(card) {
	mix-blend-mode: normal;
	/* animation: none;; */
}

::view-transition-old(header),
::view-transition-new(header) {
	mix-blend-mode: normal;
	animation: none;
}


::view-transition-old(root),
::view-transition-old(search-header) {
	animation: fade-out 350ms cubic-bezier(0, 0, 0.2, 1);
}
::view-transition-new(root),
::view-transition-new(search-header) {
	mix-blend-mode: normal;
	animation: fade-in 350ms cubic-bezier(0, 0, 0.2, 1),
		slide-in 350ms cubic-bezier(0, 0, 0.2, 1);

}§

.restaurantTransition {
	view-transition-name: card;
}

body {
	margin: 0;
	width: 100vw;
	min-height: 100vh;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
}

header {
	position: fixed;
	top: 0;
	padding-inline: var(--gap);
	width: 100vw;
	padding-block: var(--gap);
	display: flex;
	flex-wrap: wrap;
	/* justify-content: ; */
	--gap: 0.5rem;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0);
	background: white;
	z-index: 4;
	/* gap: 1rem; */
	view-transition-name: header;
}

.logo,
.footer-logo {
	height: 100%;
	width: fit-content;
	font-size: var(--header-font-size);
	font-weight: 500;
	color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: var(--gap);
}

.logo img,
.footer-logo img {
	height: 50px;
	filter: var(--primary-color-filter);
}

.footer-logo img {
	padding-right: 10px;
}

.logo h1,
.footer-logo h1 {
	margin: 0;
	font-weight: 500;
}

nav {
	display: flex;
	justify-content: center;
	gap: calc(var(--gap) * 2);
	align-items: center;
	padding: 0 20px;
	margin-left: auto;
	z-index: 4;
}

.navbtn {
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	padding: 5px 10px;
	margin: 8px 5px;
	transition: all 0.1s ease-in;
	text-decoration: none;
}

.signup.navbtn {
	background-color: var(--primary-color);
}

.signup.navbtn div {
	color: white;
}

.navbtn div {
	text-decoration: none;
	color: var(--primary-color);
	font-size: var(--header-font-size);
	font-size: 0.9rem;
	width: 100%;
	height: 100%;
}

.navbtn:hover {
	padding: 8px 15px;
	margin: 0;
}

.signup:hover {
	background-color: var(--primary-color-dark);
}

.login:hover {
	background-color: var(--primary-color-alpha);
	border-color: var(--primary-color-dark);
}

.login:hover div {
	color: var(--primary-color-dark);
}

.basketlogo {
	/* padding: 10px 15px; */
	padding: 0;
	margin: 12px 20px;
	border-radius: 100%;
	cursor: pointer;
}

@keyframes basket-icon-animation {
	0% {
		background-color: var(--primary-color-alpha-2);
		padding: 0;
		margin: 12px 20px;
	}
	
	85% {
		background-color: var(--primary-color-alpha-2);
		padding: 12px 20px;
		margin: 0 0px;
	}
	
	100% {
		background-color: var(--primary-color-alpha-2);
		padding: 12px 16px;
		margin: 0 4px;
	}
	
}

.basketlogo:hover {
	background-color: var(--primary-color-alpha-2);
	animation: basket-icon-animation 0.2s ease-in;
	padding: 12px 16px;
	margin: 0 4px;
}

.basket-wrapper {
	display: none;
	position: fixed;
	right: 0;
	/* top: 40px; */
	top: 0;
	z-index: 3;
	background: white;
	padding: 80px 20px 20px 20px;
	width: 300px;
	height: 400px;
	z-index: 3;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	overflow-y: scroll;
}

.basket-divider {
	width: 90%;
	height: 0;
	border-bottom: 1px solid #ddd;
	margin: 10px auto;

}

.basket-item {
	font-size: 0.7rem;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	align-items: center;
}

.basket-item h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
}

.basket-item-btns {
	display: flex;
	align-items: center;
	gap: 5px;
}

/* .basket-item-btns button {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: none;
	background-color: var(--primary-color);
	color: white;
	transition: all 0.1s ease-in;
} */

.basket-icon {
	width: 16px;
	height: 16px;
	background-color: var(--primary-color);
	cursor: pointer;
}

.basket-remove-icon {
	-webkit-mask: url(../img/icons/minus.svg);
	mask: url(../img/icons/minus.svg);
}

.basket-amount-display {
	padding: 0 5px;
	font-family: 'Roboto Mono', monospace;
}

.basket-add-icon {
	-webkit-mask: url(../img/icons/plus.svg);
	mask: url(../img/icons/plus.svg);
}

.basket-remove-icon:hover {
	-webkit-mask: url(../img/icons/minus_filled.svg);
	mask: url(../img/icons/minus_filled.svg);
}

.basket-remove-icon:active {
	background-color: var(--primary-color-dark);
}


.basket-add-icon:hover {
	-webkit-mask: url(../img/icons/plus_filled.svg);
	mask: url(../img/icons/plus_filled.svg);
}

.basket-add-icon:active {
	background-color: var(--primary-color-dark);
}

.basketOpen {
	display: block;
}

.nav-viewer {
	width: 100%;
	padding: 0 20px;
}

.nav-links {
	display: flex;
	gap: 10px;
	font-size: 0.8rem;
}

.nav-link {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-divider {
	color: var(--primary-color-dark);
}

.nav-link:hover {
	color: var(--primary-color-dark);
	text-decoration: underline;
}


main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

section {
	width: 100%;
}

@media screen and (max-width: 700px) {
	.logo h1 {
		display: none;
	}

	.view-location p {
		display: none;
	}
}

/* INTRO */

#intro {
	display: grid;
	grid-template-areas:
		". . ."
		". inputisland ."
		". . .";
	height: 100vh;
	grid-template-columns: 1fr auto 1fr;
	grid-template-rows: 1fr auto 1fr;
	background-image: url(../img/introbackground2.jpg);
	background-size: cover;
	background-position: center 60%;
	/* background-attachment: fixed; */
}

#intro::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to bottom, white, transparent);
	/* z-index: -1; */
}

.islandwrapper {
	grid-area: inputisland;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
}

.introtext {
	padding: 30px;
	width: 500px;
	text-align: center;
	font-size: 1.4rem;
}

.inputisland {
	display: flex;
	border-radius: 10px;
	/* background: red; */
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
	gap: 10px;
	background: white;
}

.adress-wrapper {
	--adress-height: 60px;
	--adress-width: 500px;
	--icon-size: 32px;
	width: var(--adress-width);
	height: var(--adress-height);
	display: flex;
	--icon-offset: calc(var(--adress-height) / 2 - var(--icon-size) / 2);
}

.adress-wrapper input {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 0 calc(var(--icon-offset) * 4.5) 0 20px;
	font-size: 1rem;
	border: 1px solid #ccc;
	transition: all 0.1s ease-in;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.2);
	transform: translateX(calc(var(--icon-size) / 2));
}

.adress-wrapper input:focus,
.adress-wrapper input:hover {
	outline: none;
	border-color: var(--primary-color);
}

.adress-wrapper input:hover::placeholder,
.adress-wrapper input:focus::placeholder {
	color: black;
}

.location-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	/* position: relative; */
	/* top: var(--icon-offset);
    right: calc(var(--icon-offset) * 3); */
	transform: translate(
		calc(var(--icon-offset) * -2.5),
		calc(var(--icon-offset))
	);
	color: var(--primary-color);
}

/* ABOUT */

#about {
	min-height: 100vh;
	/* box-shadow: 0 0 20px 5px #888; */
}

.slogan {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	font-size: 1.5rem;
}

.slogan h2 {
	margin: 0;
	padding: 0 50px;
	font-weight: 400;
	font-size: 1.5rem;
	border-radius: 10px;
}

.about-wrapper {
	width: 100%;
	min-height: 400px;
	/* background: red; */
	display: flex;
	align-items: center;
	padding: 0 100px;
	margin: 100px 0;
	/* background-image: url(../img/food/bolognese.jpg); */
	background-position-x: center;
	background-size: cover;
}

.abouttext {
	padding: 30px;
	/* width: 500px; */
	/* font-family: 'Press Start 2P'; */
	/* text-align: center; */
	font-size: 1.4rem;
	/* outline: 1px solid red; */
	/* box-shadow: 0 0 20px 5px #ccc; */
	background: white;
	/* border-radius: 10px; */
	display: flex;
	flex-direction: column;
	/* justify-items: center; */
	gap: 20px;
}

.about-img {
	border-radius: 10px;
	max-width: 500px;
}

.about-img img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}


#delivery {
	width: 100%;
}

#delivery .article-img {
	background-image: url(../img/food/pizza.jpg);
	width: 100%;
	height: 400px;
	background-size: cover;
}

#delivery .article-text {
	background: white;
	width: 700px;
	height: 300px;
	position: relative;
	top: -150px;
	/* right: 100px; */
	left: 40%;
	box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16);
	border-radius: 30px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#quality {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin-bottom: 100px;
}

#quality .article-img {
	max-width: 500px;
}

#quality .article-img img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
}

#quality .article-text {
	/* padding: 30px; */
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	width: 45%;
}

.article-text h3 {
	margin: 0;
	padding: 0;
	font-size: 1.5rem;
}

.article-text p {
	margin: 0;
	padding: 0;
	font-size: 1.2rem;
}

#quality .article-text p {
	font-size: 1.4rem;

}

.readmore-btn {
	padding: 10px 20px;
	background: var(--primary-color);
	width: fit-content;
	border-radius: 10px;
	color: white;
}

.readmore-btn:hover {
	background: var(--primary-color-dark);
	cursor: pointer;
}

#getStarted {
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

#getStarted a {
	text-decoration: none;
	color: var(--primary-color);
	padding: 10px 20px;
	/* background: var(--primary-color); */
	border: 1px solid var(--primary-color);
	border-radius: 10px;
	display: flex;
	align-items: center;
}

#getStarted img {
	width: 16px;
	height: 16px;
	margin-right: 5px;

}

#getStarted a:hover {
	background-color: var(--primary-color-alpha);
}


@media screen and (max-width: 1200px) {
	#delivery .article-text {
		left: calc((100% - 700px) / 2);
	}
}

@media screen and (max-width: 1000px) {
	.about-wrapper, #quality {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}

	#quality {
		flex-direction: column-reverse;
	}

	.abouttext, #quality .article-text {
		width: 100%;
		padding: 30px;
	}
}


@media screen and (max-width: 750px) {
	#delivery .article-text {
		width: 90%;
		left: 5%;
	}
}

@media screen and (max-width: 550px) {
	.about-img {
		width: 90%;
	}

	.islandwrapper {
		width: 90vw;
	}

	.adress-wrapper {
		--adress-width: 90vw;
	}

	.introtext {
		width: 100%;
		padding: 30px 0;
	}
}

@media screen and (max-width: 450px) {
	.abouttext {
		font-size: 1rem;
	}

	.article-text h3 {
		font-size: 1.2rem;
	}

	.article-text p {
		font-size: 1rem;
	}

	nav {
		padding: 0;
	}
}

/* FOOTER */

footer {
	width: 100%;
	padding: 0 50px;
	height: 200px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 3;
}

.footer-content {
	width: 100%;
	min-height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	flex-wrap: wrap;
}

.footer-links {
	display: flex;
	gap: 20px;

}

.footer-links a {
	text-decoration: none;
	color: #777;
}

.footer-links a:hover {
	color: #555;
}

/* ------- SEARCH.HTML ------- */

.search-header {
	/* position: fixed; */
	/* top: 0; */
	/* left: 0; */
	width: 100%;
	/* background: white; */
	transition: all 0.5s ease-in;
	z-index: 2;
	view-transition-name: search-header;
}

.header--fixed {
	top: 80px;
}

.top-area {
	width: 100%;
	height: 500px;
	display: flex;
}

#offersArea {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 50px;
	justify-content: flex-end;
	gap: 10px;
}

.offer-list {
	display: flex;
	gap: 60px;
	list-style: none;
	/* justify-content: flex-end; */
	/* border: 1px solid #ccc; */
	border-radius: 10px;
	padding: 10px;
	overflow-x: scroll;
	overflow-y: hidden;
}

.offer-list::before {
	content: "";
	position: absolute;
	width: calc(100vw - 100px);
	height: 200px;
	/* right: 50px; */
	left: 0;
	margin: 0 50px;
	background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 15%, rgba(0,0,0,0) 85%, rgba(255,255,255,1) 100%);
}

.specialImage {
	object-fit: cover;
	aspect-ratio: 1.1618;
	object-position: center -300px;
}

.offer {
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6); */
	padding: 10px;
	display: flex;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	transition: all 0.2s ease-in-out;
	background-color: var(--primary-color-alpha);
	min-width: 400px;
}

.offer-list::-webkit-scrollbar {
	width: 10px;
}

.offer-list::-webkit-scrollbar-thumb {
	color: red;
  }

.offer-img {
	height: 150px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 5px;
}

.offer-text {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 10px;
}

.offer:hover {
	transform: scale(1.02);
	/* border-color: var(--primary-color); */
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

#offersArea h2 {
	margin: 0;
	padding: 0 20px;
	font-size: 2rem;
	font-weight: 500;
}

.searchbar {
	width: 400px;
	height: 70px;
	padding: 10px;
	/* border: 1px solid #ccc; */
	border-radius: 70px;
	/* box-shadow: 0 0 24px 0 rgba(0,0,0,0.16); */
}

.searchbar input {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 70px;
	transition: all 0.2s ease-in;
	padding: 0 50px 0 20px;
	font-size: 1rem;
	background: var(--primary-color-alpha);
}

.intro-searchbar {
	width: 500px;
}

.search-wrapper {
	min-width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.searchbar input:focus,
.searchbar input:hover {
	outline: none;
	border: 1px solid var(--primary-color);
}

.searchbar input:focus::placeholder,
.searchbar input:hover::placeholder {
	color: black;
}

.search-icon {
	width: 24px;
	position: relative;
	left: -40px;
	top: 4px;
	color: var(--primary-color);
	/* background: white; */
	border: none;
}

@media screen and (max-width: 400px) {

	.searchbar {
		width: 100%;
	}

	.searchbar input {
		width: calc(100vw);
	}
}

svg path {
	stroke: var(--primary-color) !important;
}

/* Restaurant cards */

.restaurant-cards {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	--gap: 20px;
	gap: var(--gap);
	padding: var(--gap);
}

.restaurant-card {
	--width: calc((100vw - var(--gap) * 5) / 4);
	width: var(--width);
	height: 325px;
	/* border: 1px solid #ccc; */
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	color: black;
	text-decoration: none;
	/* box-shadow: 0 0 24px 0 rgba(0,0,0,0.3); */
}

.bg-image-wrapper {
	height: 70%;
	overflow: hidden;
}

.restaurant-card .bg-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg-image-wrapper:before {
	content: "";
	position: absolute;
	background-image: linear-gradient(
		to bottom,
		transparent,
		rgba(255, 255, 255, 0)
	);
	width: var(--width);
	height: calc(325px * 0.7);
	border-radius: 15px 15px 0 0;
	/* transform: translateY(calc(325px * 0.3)); */
	/* z-index: 3 */
	transition: all 0.15s ease-in;
	z-index: 1;
}

.restaurant-card:hover > .bg-image-wrapper:before {
	transform: translateY(0);
	background-image: linear-gradient(
		to bottom,
		transparent,
		rgba(255, 255, 255, 0.3)
	);
}

.card-content {
	height: 30%;
	object-fit: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 10px 0;
	z-index: 2;
	border-radius: 0 0 15px 15px;
	border: 1px solid #ccc;
}

@media screen and (max-width: 1200px) {
	.restaurant-card {
		--width: calc((100vw - var(--gap) * 4) / 3);
	}
}

@media screen and (max-width: 750px) {
	.restaurant-card {
		--width: calc((100vw - var(--gap) * 3) / 2);
	}
}

@media screen and (max-width: 550px) {
	.restaurant-card {
		--width: calc((100vw - var(--gap) * 2) / 1);
		height: fit-content;
	}
}

.content-row {
	display: flex;
	justify-content: space-between;
}

.content-row h4,
.content-row p {
	margin: 0;
	padding: 0 10px;
}

.content-row h4 {
	font-size: 1rem;
	font-weight: 500;
}

.content-row.left-align {
	justify-content: start;
}

.content-row.left-align p {
	padding: 0 0 0 10px;
}
.content-row.extra-padding {
	padding: 0 10px;
}

.price-class,
.time,
.divider,
.desc {
	color: #666;
	font-size: 0.7rem;
}

.time {
	font-size: 0.9rem;
	color: #444;
	padding-left: 5px !important;
}

.time-icon {
	width: 12px;
}

.star-icon {
	width: 16px;
	transform: translateY(-2px);
}

.rating {
	display: flex;
	align-items: center;
}

.rating p {
	margin: 0;
	padding: 0 7px;
}

/* RESULT */

.result {
	width: 100%;
}

.result p {
	font-size: 1.2rem;
	font-weight: 500;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.nounderline {
	text-decoration: none;
}

.view-location {
	display: flex;
	align-items: center;
	padding-left: 50px;
}

.view-location p {
	margin: 0;
	padding: 0 10px;

}

.view-location p:hover {
	cursor: pointer;
	color: var(--primary-color-dark);
}

.location-tag-icon {
	width: 24px;
	height: 24px;
	filter: brightness(0) saturate(100%) invert(58%) sepia(27%) saturate(1616%)
		hue-rotate(345deg) brightness(93%) contrast(93%); /* Nice filter hack */
}


.restaurant-desc {
	width: 100%;
	height: 500px;
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	/* justify-content: space-between; */
	gap: 80px;
	padding: 80px;
	/* outline: 1px solid black; */
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}

.restaurant-desc-content {
	height: 90%;
	width: fit-content;
}

.restaurant-img-wrapper img {
	/* width: 100%; */
	height: 100%;
	aspect-ratio: 1.3;
	object-fit: cover;
	border-radius: 5px;
	object-position: center;
}

.restaurant-text h2 {
	font-weight: 500;
	font-size: 2rem;
}

.detailed-description {
	font-size: 1.2rem;
}

.detailed-rating {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1rem;
	padding: 5px 0;
}

.detailed-price {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1rem;
	padding: 5px 0;
	
}

.detailed-time {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1rem;
	padding: 5px 0;
	color: #333;
}

.detailed-time img {
	height: 18px;
}

.detailed-wrapper {
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
}

.restaurant-text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu-item {
	display: flex;
	align-items: center;
	padding: 40px 5%;
	height: 200px;
	gap: 40px;
}

.menu-item-content {
	height: 100%;
}

.menu-item-text {
	max-width: 50%;
}

.menu-item-img-wrapper {
	height: 100%;
	aspect-ratio: 1.5;
	overflow: hidden;
	border-radius: 5px;
}

.menu-item-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.menu-item-btn {
	width: fit-content;
	display: flex;
	align-items: center;
	margin-left: auto;
}

.menu-remove-icon {
	width: 28px;
	height: 28px;
	background-color: var(--primary-color);
	/* background-image: url(../img/icons/plus.svg); */
	/* color: transparent; */
	-webkit-mask: url(../img/icons/minus.svg);
	mask: url(../img/icons/minus.svg);
	cursor: pointer;
}

.menu-amount-display {
	padding: 0 10px;
	/* width: 30px; */
	font-family: 'Roboto Mono', monospace;
}

.menu-add-icon {
	width: 28px;
	height: 28px;
	background-color: var(--primary-color);
	/* background-image: url(../img/icons/plus.svg); */
	/* color: transparent; */
	-webkit-mask: url(../img/icons/plus.svg);
	mask: url(../img/icons/plus.svg);
	cursor: pointer;
}

.menu-remove-icon:hover {
	-webkit-mask: url(../img/icons/minus_filled.svg);
	mask: url(../img/icons/minus_filled.svg);
}

.menu-remove-icon:active {
	background-color: var(--primary-color-dark);
}


.menu-add-icon:hover {
	-webkit-mask: url(../img/icons/plus_filled.svg);
	mask: url(../img/icons/plus_filled.svg);
}

.menu-add-icon:active {
	background-color: var(--primary-color-dark);
}

.menu-divider {
	width: 90%;
	margin: 0 auto;
	height: 0;
	border-bottom: 1px solid #ccc;
}

.no-menu {
	padding: 20px;
	font-size: 1.2rem;
}

.restaurant-desc-content-wrapper {
	display: flex;
	/* flex-direction: column; */
	justify-content: flex-start;
}

.go-back {
	display: flex;
	align-items: center;
	width: fit-content;
	/* margin-bottom: 50px; */
	font-size: 1rem;
	color: var(--primary-color);
	cursor: pointer;
	text-decoration: none;
	padding: 10px 0px;
	/* position: absolute; */
	/* margin-top: 80px; */
}

.go-back:hover {
	color: var(--primary-color-dark);
	text-decoration: underline;
}

.go-back img {
	width: 20px;
	height: 16px;
	margin: 0 5px;
}